.bahubali-product{
    padding: 10px !important;
}
.fc-bg-added {
    background-image: url("../../../assets/images/facewash/pills.jpg");
    background-position: 0 -474px;
    padding: 50px 0;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;    
    margin-bottom: 20px;

}

.us-item h5{
  font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
.us-item p{
  font-size: 14px;
    color: #555;
}
.fc-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 354px;
    gap: 30px;
    padding-top: 65px;
}

.fc-content h4{
    font-size: 30px;
    font-weight: bold;
   
}
.fc-content p{
    line-height: 1.8;
    font-size: 17px;
    font-weight: 600;

}
.btn-17,
.btn-17 *,
.btn-17:after,
.btn-17:before {
  box-sizing: border-box;
  border: 0 solid;
  color: #fff;
}

.btn-17 {
    /* margin-top: 30px;
    margin-left: 174px; */

  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  font-size: 100%;
  font-weight: 900;
  text-transform: uppercase;
  padding: 0.8rem 3rem;
  border-radius: 99rem;
  border-width: 2px;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.btn-17:disabled {
  cursor: default;
}

.btn-17:-moz-focusring {
  outline: auto;
}

.btn-17 .text-container {
  display: block;
  mix-blend-mode: difference;
  overflow: hidden;
  position: relative;
}

.btn-17 .text {
  display: block;
  position: relative;
  transition: transform 0.3s ease;
}

.btn-17:hover .text {
  animation: move-up-alternate 0.3s forwards;
}


@keyframes move-up-alternate {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(80%);
  }
  51% {
    transform: translateY(-80%);
  }
  100% {
    transform: translateY(0);
  }
}
.btn-17:before,
.btn-17:after {
  --skew: 0.2;
  content: "";
  position: absolute;
  width: 100%;
  height: 102%;
  background: #fff;
  display: block;
  pointer-events: none;
  transition: transform 0.2s ease;
}

.btn-17:before {
  left: calc(-50% - 50% * var(--skew));
  top: -104%;
  transform: skew(calc(150deg * var(--skew))) translateY(var(--progress, 0));
}

.btn-17:after {
  --progress: 0%;
  left: calc(50% + 50% * var(--skew));
  top: 102%;
  z-index: -1;
}

.btn-17:hover:before {
  --progress: 100%;
}

.btn-17:hover:after {
  --progress: -102%;
}

.key-ingredients-section{
    background-color: #f4f4f4;
    /* border: 1px solid red; */
    padding: 50px 0;
}
.title-section {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  .ingredient-card {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    height: 100%;
  }
  .fc-benifits-content{
    row-gap: 20px;
  }
  
  .ingredient-card h5 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .ingredient-card p {
    font-size: 14px;
    color: #555;
  }
  
  .ingredient-card:hover {
    transform: translateY(-5px);
  }


  .how-to-use-section{
    background-color: #f4f4f4;
    
  }
  .usageimage{
    width: 100%;
  }
  .us-item{
    padding: 20px;
    background: #fff;
    text-align: center;
    height: 100%;
    /* height: 150px; */
  }
  /* .usage-content{
    gap: 20px;
  } */

  @media(max-width:1023px){
    .fc-bg-added{
      background-position: -142px -61px;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      /* height: 650px; */
      margin-bottom: 20px;
    }
   

  }

  @media(max-width:767px){
    .fc-bg-added {
      background-position: -612px 0px;
        padding-bottom: 305px;
    }
    .btn-17{
      margin-top: 35px;
    }
  }

  @media only screen and (min-width:1024px) and (max-width:1030px){
    .fc-bg-added{
      background-position: 0 -146px;
    }
  }
  @media only screen and (min-width:768px) and (max-width:1023px){
    .fc-bg-added{
      background-position: 0 0;
    }
  .fc-content {
  padding-top:0;
  }
  }
 
 
