.c_shampoo{
    background: #daeef9;
}
.banner-bg-cshampo{
    background: url("../../../assets/images/shampoo/main-banner.jpg") top center no-repeat;
    background-size: cover;
    height: 1000px;
    display: flex;
    justify-content: center;
}
.banner-cshampo-content{
    text-align: center;
    width: 50%;
    margin: 0 auto;
}
.cshampo-title-1{
    color: #f1469a;
    font-size: 37px;
    font-weight: 700;
}
.cshampo-p-1{
    font-size: 30px;
    color: #f1469a;
}   
.banner-cshampo-sec2-wrap{
    background-color: #f1469a;
    border: 10px solid #fff;
    border-radius: 20px;
    padding: 22px;
    margin-top: 20px;
}
.banner-cshampo-sec2-wrap h4{
    color: #fff;
    font-size: 32px;
    font-weight: 800;
}
.banner-cshampo-sec2-wrap p{
    color: #fff;
    font-size: 32px;
    font-weight: 500;
}
.sha-des{
    background-color: #f1469a;
    padding: 20px;
    border-radius: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.sha-des-holder{
    background-color: #fff;
    padding: 50px;
    border-radius: 30px;

}
.sec-4-cshampoo-p{
    color: #f1469a;
    margin-top: 30px;
    font-size: 17px;
}
.sec-4-cshampoo-h{
    font-weight: 700;
    font-size: 28px;
}

/*Section 2*/
.cshampo-sec-2-bg{
    background: url("../../../assets/images/shampoo/clipboard.png") top center no-repeat;
    background-size: cover;
    aspect-ratio: 925 / 905;
}
.sec-2-cshampo-wrap{
    margin-top: -35%;
}
.sec-2-cshampo-wrap{
    position: relative;
}
.sec-2-cshampoo-inner{
    position: absolute;
    width: 74%;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -76%);
}
.sec-2-c-shampo-title{
    color: #f1469a;
    font-weight: 800;
    font-size: 30px;
    text-align: center;

}
.sec-2-c-shampo-row{
    margin: 25px 0;
}
.sec-2-c-shampo-row-title{
    color: #f1469a;
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 15px;
}
@media only screen and (max-width:1300px){
    .banner-cshampo-content{
        width: 79%;
    }
    .banner-bg-cshampo{
        height: 715px;
    }
    .banner-img-cshampo{
        width: 400px;
    }
}
@media only screen and (min-width:768px) and (max-width:1024px){
    .banner-img-cshampo{
        width: 385px;
    }
    .cshampo-title-1 {
    font-size: 25px;
    }
    .cshampo-p-1 {
        font-size: 18px;
    }
    .banner-cshampo-sec2-wrap h4 {
        font-size: 25px;
    }
    .banner-cshampo-sec2-wrap p{
        font-size: 20px;
    }
    .banner-bg-cshampo{
        height: 600px;
    }
}

@media only screen and (max-width:767px){
    .banner-cshampo-content{
        width: 95%;
    }
    .banner-img-cshampo {
        width: 335px;
    }
    .cshampo-title-1 {
        font-size: 22px;
    }
    .cshampo-p-1 {
        font-size: 16px;
    }
    .banner-cshampo-sec2-wrap h4 {
        font-size: 23px;
    }
    .banner-cshampo-sec2-wrap p {
        font-size: 16px;
    }
    .banner-bg-cshampo{
        align-items: center;
    }
}

@media only screen and (max-width:1024px){
    .sec-2-cshampo-wrap{
        margin-top: 0;
        position: static;

    }
    .sec-2-cshampoo-inner{
        position: static;
        width: auto;
        transform:none;
    }
    .cshampo-sec-2-bg{
        background: none;
    }
    .sha-des-holder{
        display: flex;
            flex-direction: column;
           
            gap: 47px;
    }
}

